<!DOCTYPE html>
{% load static %}
{% load custom_filters %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css">
</head>
<nav class="navbar is-transparent">
  
    <div id="navbarExampleTransparentExample" class="navbar-menu" style="background-color: whitesmoke;">
      <div class="navbar-start">
        <div class="navbar-item has-dropdown is-hoverable" style="padding-left: 30%;">
          <a class="navbar-link" style="color: black;"> Menu </a>
          <div class="navbar-dropdown is-boxed">
            <a class="navbar-item" href="{% url 'dashboard' %}">Dashboard</a>
            <a class="navbar-item" href="{% url 'add_equipment' %}">Add equipment</a>
            <a class="navbar-item" href="{% url 'logout' %}">Logout</a>
          </div>
        </div>
      </div>
    </div>
  </nav>
<body>
    <!-- Contenu principal de la page ici -->
    {% block content %}{% endblock %}
    
   
</body>
</html>