<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
{% load static %}
<link rel="stylesheet" href="{% static 'css/output.css' %}">
</head>

<body>
    <div class="flex content-center">
        <form method="post">
            {% csrf_token %}
            <div>
                <div>
                    <label for="id_username">Username</label>
                    {{ form_login.username }}
                </div>
                <div>
                    <label for="id_password">Password</label>
                    {{ form_login.password }}
                </div>
            </div>
            
            <button type="submit">
                Submit
            </button>
        </form>
        
        <a>
            Not registered yet? <a href="{% url 'register' %}">Register</a>
        </a>
    </div>
</body>
</html>